@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond&display=swap');


body {
  background-color: #8dcdd9;
  font-family: 'Oswald', sans-serif;
  animation: fade 1s;
}


.header h1 {
  font-size: 65px;
  text-shadow: 2px 4px 4px black;
  color: white;
  display: inline-block;
  width: 20%;
}

.header img {
  margin-right: 10px;
  animation: wiggle 1.5s infinite;
}

@keyframes wiggle {
    0% { transform: rotate(0deg); }
   80% { transform: rotate(0deg); }
   85% { transform: rotate(8deg); }
   95% { transform: rotate(-8deg); }
  100% { transform: rotate(0deg); }
}

.links {
  display: inline-block;
  width: 80%;
}

.confirmation {
  text-align: center;
  color: white;
  font-size: 20px;
}

.confirmation button {
  width: 80px;
  border-radius: 25px;
  box-shadow: 2px 2px 2px black;
  padding: 10px;
}

.confirmation button:hover {
  background-color: #c48297;
}

.kegform {
  text-align: center;
  padding: 10px;
}

.kegform input {
  margin:10px;
  text-align: center;
  border-radius: 25px;
  padding: 10px;
  box-shadow: 2px 2px 2px black;
}

.kegform button {
  width: 80px;
  border-radius: 25px;
  box-shadow: 2px 2px 2px black;
  padding: 10px;
  color: black;
}

.kegform button:hover {
  background-color: #c48297;
}

.kegform h1 {
  color: white;
  position: absolute;
  right: 50%;
  top: 50%;
  font-size: 15px;
  opacity: 1;
  animation: fade 3s;
}

@keyframes fade {

  0% { opacity: 0 }
  30% { opacity: 0 }
  31% { opacity: 0}
  100% { opacity: 1}
}

.kegform h2 {
  font-size: 60px;
  position: absolute;
  right: 49.5%;;
  top: 32%;
  animation: fade 6s;
}

.keglist {
  color: white;
  text-align: center;
  font-size: 15px;
  background-color: #74a1ab;
  border-radius: 25px;
}

.keglist_home {
  animation: fade 1s;
}

.keglist_home h2 {
  text-align: center;
  color: white;
  text-shadow: 2px 2px 4px black;
}

.links_info {
  color: white;
  position: absolute;
  top: 10%;
  right: 10%;
}

.about {
  background-image: url("./assets/women_background.jpg");
  background-size: cover;
  height: 600px;
  border-radius: 25px;
  animation: fade 1s;
}

.about_header_container {
  text-align: center;
  background-color: grey;
  opacity: .3;
  height: 250px;
  border-radius: 25px;
}

.about_header {
  opacity: 1;
  position: absolute;
  right: 26%;
  top: 22%;
  color: white;
  text-align: center;
  font-family: 'Cormorant Garamond', serif;
  animation: fade 2s;
}

.about_body {
  width: 700px;
  position: absolute;
  right: 24%;
  top: 40%;
  text-align: center;
  font-size: 20px;
  color: white;
  animation: fade 1s;
}

.location {
  background-image: url("./assets/pink.jpg");
  background-size: cover;
  background-position: right 50% bottom 10%;
  height: 600px;
  border-radius: 25px;
  animation: fade 1s;
}

.location_container {
  background-color: grey;
  opacity: .3;
  height: 250px;
  border-radius: 25px;
}

.location_body {
  width: 700px;
  position: absolute;
  right: 24%;
  top: 25%;
  text-align: center;
  font-size: 20px;
  color: white;
  font-family: 'Cormorant Garamond', serif;
  animation: fade 2s;
}

.skyline {
  position: absolute;
  right: 84%;
  top: 4%;
  z-index: -1;
}
